// var definitions
$width-content:         96.0rem;     // 960px


// media query break points
// $big-tablet-width:      1024px;
// $tablet-width:          768px;
// $phone-width:           420px;

$breakpoints: (phone: 320px, phablet: 567px, tablet: 868px, big-tablet: 1024px, desktop: 1400px);


// colors
$clr-1:           #EEEEEE;
$clr-2:           #979797;
$clr-quiet:       #E8EBEB;
// $clr-loud:        #(hex for a loudColor);

$font-family-base:          "Circular-Book", "Circular", "europa", "Futura", sans-serif;
$font-family-base-bold:     "Circular-Bold", "Circular", "europa", "Futura", sans-serif;
$font-family-base-medium:   "Circular-Medium", "Circular", "europa", "Futura", sans-serif;

// 16px (default) * 0.625 = 10px        -> base 10 to calc easier
// to make something 50px wide use 5.0rem.
$font-size-base:            62.5%;


// mixins

// import stylesheets
@import "reset";
@import "typography";
@import "tables";
@import "navigation";
@import "general";
@import "footer";
